html{
    font-family: Verdana, sans-serif;
  }
  
  
  
  header {
    background-color: #7ff6fa; /*sfondo titolo + nav*/
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #8de9ec ;  /*sfondo barra nav*/
    text-align: center;
  }
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
  }
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    color: #000000; /* colore testo nav */
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  nav ul ul li a {
    background-color:#8de9ec; /*  colore quadrati nav che quando passi sopra con il mause senza cambiiare colore*/
    color: #000000;
    display: block;
    padding: 10px 20px;
  }
  
  nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #579397;  /*sfondo nav quando passi con il mouse*/
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  
  

  .slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  
  .slide {
    display: none;
    width: 100%;
    height: auto;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .next {
    right: 0;
  }
  
  .dot-container {
    text-align: center;
    margin-top: 10px;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .active-dot {
    background-color: white;
  }


 
  #cookiePopup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  #cookiePopup p {
    margin: 0 0 10px 0;
  }
  
  #cookiePopup a {
    color: #008CBA;
    text-decoration: none;
  }
  
  #cookiePopup button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  #cookieButtons {
    display: inline-block;
  }



  footer{
    background-color:rgb(103, 214, 248);
    padding:20px;
    text-align:center;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
    }
     .item {
      flex: 1 0 200px;
      margin: 10px;
    }
  
    .testo{
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 150px;
      margin-right: 150px;
    }
  
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .item {
      flex: 1 0 200px; 
      margin: 10px;
    }  